@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
}


body {
  background: var(--background);
  font-family: Manrope;
  color: white;
}
.hero-container{
  background-image: url('/assets/home/mobile/image-header.jpg');
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
}
/* .rings {
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} */
.rings {
  position: relative;
}

.rings::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 300px;
  height: 328px;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  pointer-events: none; 
}
.zx7-container{
  background-image: url('/assets/home/mobile/image-speaker-zx7.jpg');
  background-position: center;
  background-size: cover;
}

@media (min-width:768px) {
  .hero-container{
     background-image: url('/assets/home/tablet/image-header.jpg');
  }
  .rings::after{
    transform: translate(-50%,0) scale(1.5);
  }
}

@media (min-width:1024) {
  .hero-container{
     background-image: url('/assets/home/desktop/image-hero.jpg');
  }
  .rings::after{
    width: 600px;
    height: 493px;
  }
  .zx7-container{
    background-image:url('/assets/home/desktop/image-speaker-zx7.jpg');
  }
  
}
